.tourTop video {
    width: 100%;
    height: 55vh;
    
    object-fit: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .Package {
    display: flex;
    flex-direction: column;
    height: 5%;
    align-items: center;
    margin-top: 40px;
  }

.pack video{
    margin:10px;
   /*margin-top:10px;
    padding:10px;
    padding-top:0px;*/
    height:auto;
    width:20rem;
}
.Package h1
{
    font-size: 2.8rem;
    
}
button{
  
    font-size:1rem;
    padding:4px;
    margin:40px;
    border-radius:4px;
    border:1px solid yellow;
    background-color:green;
    box-shadow: 1.5px 1.5px 1.5px black;
    height: 34px;
    width: 100px;
    color: whitesmoke;
    /* text-shadow: 1px 1px 1px black; */
}
button:hover{
   background-color: red;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#book1{
    margin-left: -40px; 
    
}
#book2{
    margin-left: 25px; 
    padding-left: 30px; 
}
#book3{
    margin-left: 97px;  
    padding-left: 37px;
}
#book4{
    margin-left: -4px;  
    padding-left: -4px;
}
#book5{
    margin-left: 200px; 
 padding-left: 15px;
}
#book6{
    margin-left: 154px; 
    padding-left: 10px; 
}
#book7{
    margin-left: 180px; 
    padding-left: 75px; 
}
#book8{
    margin-left: 160px;  
    padding-left: 90px;
}
#book9{
    margin-left: 75px;  
    padding-left: 5px;
}
#book10{
    margin-left: 140px;  
    padding-left: 100px;
}
#ft{
    margin-top: 2830px;
}
.home2 h2{
    color:white;
    font-size:2.3rem;
    text-shadow: 1.5px 1.5px black; 

}


.pack{
    display: flex;
    flex-direction: row;
align-items:center;
height: 13rem;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
margin-bottom: 15px;
border-radius: 15px;
}
.pack:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
   
    
    transition: 0.3s ease-in;
    cursor: pointer;
    transform: scale(1.01);
  }
.pack h2{
color: rgba(15, 15, 225, 0.767);
}

.pack2 {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin: 2px;
    padding: 2px;
}
.pack2 p{
  
    margin: 2px;
    margin-left: -100px;
}